* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #caf0f8, #48cae4);
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  width: 800px;
  height: 500px;
  background-color: black;
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  align-items: center;
}

.item1,
.item2,
.item3,
.item4 {
  width: 100px;
  height: 100px;
  background-color: rgb(252, 252, 252);
  margin: 10px;
}
