* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #ebeef1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textbox input {
  width: 220px;
  height: 50px;
  margin: 0 30px;
  text-align: center;
  /* padding: 0 0 0 20px; */
  letter-spacing: 2px;
  font-weight: 700;
  /* border-radius: 20px; */
  border: none;
  box-shadow: 10px 10px 10px -1px rgba(94, 104, 121, 0.288),
    -10px -10px 10px -1px #ffffff73;
}
