* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 75px;
  line-height: 75px;
  padding: 0 100px;
  background: linear-gradient(#ffc8dd, #f1c0e8);
  position: fixed;
}

nav .logo p {
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  float: left;
  letter-spacing: 1.5px;
}

nav ul {
  float: right;
}

nav li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

nav li a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

nav li a:hover {
  color: rgb(255, 0, 34);
  transition: all 0 ease;
}

.content-items {
  background-image: url(image.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
